@page "/Repertoire"

@inject NavigationManager Manager;
<!--Set title to repertoire-->

@code{
    public List<string> EersteHelft = new List<string>() {
        "After midnight",
        "All my loving",
        "And I love her",
        "Apache",
        "Back in the USSR",
        "Backstreet girl",
        "Bad moon rising",
        "Ballad of John and Yoko",
        "Big Mamou",
        "Blues before sunrise",
        "Blue suede shoes",
        "Break the rules",
        "Bring it on home to me",
        "Call me the breeze",
        "Cocaine",
        "Cry to me",
        "Danger",
        "Days",
        "Don’t stop",
        "Everybody needs somebody",
        "Every breath you take",
        "Feelin’ allright",
        "For miss Caulker",
        "Get off of my cloud",
        "Girl",
        "Gloria",
        "Great balls of fire",
        "Heartbreak Hotel",
        "Heart of stone",
        "Hey Jude",
        "Homeward bound",
        "Honky Tonk Women",
        "I’ll follow the sun",
        "In my life",
        "I saw her standing there",
        "I will",
        "Jailhouse rock",
        "Kansas City",
    };

    public List<string> TweedeHelft = new List<string>() {
        "Lady Jane",
        "Lady Madonna",
        "Lawdy miss Clawdy",
        "Learning to fly",
        "Mary Jane’s last dance",
        "Me and Bobby McGee",
        "Medley I (Red River Rock)",
        "Medley II (Bird Dog)",
        "Mister Pleasant",
        "Mister Spaceman",
        "Mister Tambourine Man",
        "Norwegian wood",
        "Nowhere man",
        "Oh! Pretty woman",
        "Old time Rock and Roll",
        "One night with you",
        "Only the lonely",
        "Only you",
        "Play with fire",
        "Rock ‘til you drop",
        "Route 66",
        "San Francisco Bay Blues",
        "Stir it up",
        "Summer in the city",
        "Sunny afternoon",
        "The last time",
        "Twist and shout",
        "Walk of life",
        "What’d I say?",
        "Whatever you want",
        "Whole lotta shaking going on",
        "Why worry?",
        "With a little help from my friends",
        "Wonderful tonight",
        "You can make it if you try",
        "You can’t stop the music",
        "You’ve got to hide your love away",
    };

    void ToIndex() => Manager.NavigateTo("");

    void ToWie() => Manager.NavigateTo("Wie");

    void ToContact() => Manager.NavigateTo("Contact");

    void ToRepertoire() => Manager.NavigateTo("Repertoire");

    void ToMuziek() => Manager.NavigateTo("Muziek");

    void ToVideos() => Manager.NavigateTo("Videos");
}
<div class="banner" style="user-select:none">
    <div class="banner-content">
        <a @onclick="ToIndex">Home</a>
        <a @onclick="ToWie">Band</a>
        <a @onclick="ToContact">Contact</a>
        <a @onclick="ToRepertoire">Repertoire</a>
        <a @onclick="ToMuziek">Muziek</a>
        <a @onclick="ToVideos">Videos</a>
    </div>
</div>


<div class="main-content">
    <div class="textstrip">
        <div class="row">
            <div class="repcolumn">
                <ol>
                    @foreach (var lied in this.EersteHelft)
                    {
                        <li>@(lied)</li>
                    }
                </ol>
            </div>
            <div class="repcolumn bottomcolumn">
                <ol start=39>
                    @foreach (var lied in this.TweedeHelft)
                    {
                        <li>@(lied)</li>
                    }
                </ol>
            </div>
        </div>
    </div>
</div>