@page
@model WieModel
@{
    ViewData["Title"] = "Home page";
}

<div class="title">
    <div class="title-container">
        <h1 class="title-text top-title">Rock & Roll and Rhythm & Blues Band</h1>
        <h1 class="center-title">DIC</h1>
        <h1 class="title-text bottom-title">  the Die Is Cast</h1>
    </div>
    <div class="buttons">
        <a asp-page="/Wie"><input class="button" type="button" value="Wie zijn wij?" /></a>
        <a asp-page="/Repertoire"><input class="button" type="button" value="Repertoire" /></a>
        <a asp-page="/Contact"><input class="button" type="button" value="Contact" /></a>
        <a asp-page="/Muziek"><input class="button" type="button" value="Muziek" /></a>
        <a asp-page="/Videos"><input class="button" type="button" value="Videos" /></a>
    </div>
    <img class="title-img" src="~/Images/Dobbelsteen.png" />
</div>
