@page
@model MuziekModel
@{
    ViewData["Title"] = "Muziek";
}

<div class="banner">
    <div class="banner-content">
        <a asp-page="/Index">Home</a>
        <a asp-page="/Wie">Band</a>
        <a asp-page="/Contact">Contact</a>
        <a asp-page="/Repertoire">Repertoire</a>
        <a asp-page="/Muziek">Muziek</a>
        <a asp-page="/Videos">Videos</a>
    </div>
</div>
<div class="main-content">
    <div class="textstrip limited-textstrip">
        <div class="row">
            <div class="centercolumn">
                @foreach (var lied in this.Model.eersteHelft) {
                    <b>@(lied)</b>
                    <br />
                    <audio controls>
                        <source src="~/Audio/@(lied).mp3" type="audio/mp3" />
                    </audio>
                    <br />
                    <br />
                }
            </div>
            <div class="centercolumn bottomcolumn">
                @foreach (var lied in this.Model.tweedeHelft) {
                    <b>@(lied)</b>
                    <br />
                    <audio controls>
                        <source src="~/Audio/@(lied).mp3" type="audio/mp3" />
                    </audio>
                    <br />
                    <br />
                }
            </div>
        </div>
    </div>
</div>