@page
@model RepertoireModel
@{
    ViewData["Title"] = "Repertoire";
}

<div class="banner">
    <div class="banner-content">
        <a asp-page="/Index">Home</a>
        <a asp-page="/Wie">Band</a>
        <a asp-page="/Contact">Contact</a>
        <a asp-page="/Repertoire">Repertoire</a>
        <a asp-page="/Muziek">Muziek</a>
        <a asp-page="/Videos">Videos</a>
    </div>
</div>
<div class="main-content">
    <div class="textstrip">
        <div class="row">
            <div class="repcolumn">
                <ol>
                    @foreach (var lied in this.Model.eersteHelft)
                    {
                        <li>@(lied)</li>
                    }
                </ol>
            </div>
            <div class="repcolumn bottomcolumn" >
                <ol start=39>
                    @foreach (var lied in this.Model.tweedeHelft)
			        {
                        <li>@(lied)</li>
			        }
                </ol>
            </div>
        </div>
    </div>
</div>