@page "/Contact"

@inject NavigationManager Manager;

<!--Set title to muziek-->
@code{
    void ToIndex() => Manager.NavigateTo("");

    void ToWie() => Manager.NavigateTo("Wie");

    void ToContact() => Manager.NavigateTo("Contact");

    void ToRepertoire() => Manager.NavigateTo("Repertoire");

    void ToMuziek() => Manager.NavigateTo("Muziek");

    void ToVideos() => Manager.NavigateTo("Videos");
}

<div class="banner" style="user-select:none">
    <div class="banner-content">
        <a @onclick="ToIndex">Home</a>
        <a @onclick="ToWie">Band</a>
        <a @onclick="ToContact">Contact</a>
        <a @onclick="ToRepertoire">Repertoire</a>
        <a @onclick="ToMuziek">Muziek</a>
        <a @onclick="ToVideos">Videos</a>
    </div>
</div>

<div class="main-content">
    <div class="textstrip limited-textstrip">
        <div class="row">
            <div class="centercolumn">
                <img class="txtimg profileimg" src="/Images/harry.jpg" />
                <br />
                <b>Harry van der Horst</b>
                <br />
                <a href="mailto:rhhh@planet.nl">rhhh&#64;planet.nl</a>
                <br />
                06 51 88 09 02
            </div>
            <div class="centercolumn">
                <img class="txtimg profileimg" src="/Images/frits.jpg" />
                <br />
                <b>Frits Verschuur</b>
                <br />
                <a href="mailto:verschuur.g@gmail.com">verschuur.g&#64;gmail.com</a>
                <br />
                06 36 10 84 71
            </div>
        </div>
    </div>
</div>