@page "/Muziek"

@inject NavigationManager Manager;
 
<!--Set title to muziek-->

@code{
    List<string> EersteHelft = new List<string>
    {
        "02 Die Is Cast - 02 days (live)",
        "Break the rules",
        "Days",
        "Everybody needs somebody to love",
        "Feelin allright",
        "For miss caulker",
        "Gloria",
        "Heartbreak hotel",
        "In my life",
    };

    List<string> TweedeHelft = new List<string>
    {
        "It'll be me",
        "Medley Red River Rock",
        "Mr Spaceman",
        "Roll over Beethoven",
        "San Francisco Bay",
        "What did say",
        "Whole lotta shaking",
        "Wonderful tonight",
        "You can't stop the music",
    };

    void ToIndex() => Manager.NavigateTo("");

    void ToWie() => Manager.NavigateTo("Wie");

    void ToContact() => Manager.NavigateTo("Contact");

    void ToRepertoire() => Manager.NavigateTo("Repertoire");

    void ToMuziek() => Manager.NavigateTo("Muziek");

    void ToVideos() => Manager.NavigateTo("Videos");
}
<div class="banner" style="user-select:none">
    <div class="banner-content">
        <a @onclick="ToIndex">Home</a>
        <a @onclick="ToWie">Band</a>
        <a @onclick="ToContact">Contact</a>
        <a @onclick="ToRepertoire">Repertoire</a>
        <a @onclick="ToMuziek">Muziek</a>
        <a @onclick="ToVideos">Videos</a>
    </div>
</div>

<div class="main-content">
    <div class="textstrip limited-textstrip">
        <div class="row">
            <div class="centercolumn">
                @foreach (string lied in this.EersteHelft)
                {
                    <b>@(lied)</b>
                    <br />
                    <audio controls>
                        <source src="/Audio/@(lied).mp3" type="audio/mp3" />
                    </audio>
                    <br />
                    <br />
                }
            </div>
            <div class="centercolumn bottomcolumn">
                @foreach (string lied in this.TweedeHelft)
                {
                    <b>@(lied)</b>
                    <br />
                    <audio controls>
                        <source src="/Audio/@(lied).mp3" type="audio/mp3" />
                    </audio>
                    <br />
                    <br />
                }
            </div>
        </div>
    </div>
</div>